@model IEnumerable<LAB_5___Tablas_Hash_y_Colas_de_prioridad.Models.TaskModel>

@{
    ViewBag.Title = "GenerateTask";
}

<h2>Generate Task</h2>
<h4>@ViewBag.Message</h4>
<br />

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Generar</button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Decription
        </th>
        <th>
            Project
        </th>
        <th>
            Priority
        </th>
        <th>
            Date
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>

<br />
<div>
    @Html.ActionLink("Back to panel", "Index_user", "User")
</div>